@charset "UTF-8";

* {
    @import url('https://fonts.googleapis.com/css?family=Poppins');
}

body {
    background-color: #2AA4D4;
     font-family: 'Poppins';font-size: 22px;
     font: bolder
    
}
h1#Principal {
 text-align: center;
 font-size: 50px;
 color: #D4D0C8;
 
}

h1 {
    font-size: 35;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    color: #6882B3;
    font: lighter
}

.Basico {
    color:#49F639;
}

.Intermediario {
    color: #FFC22C;
}

.Avancado {
    color: #F61500;
}

#NaoPrincipal2 {
    color: #565AFF;
}

.NaoPrincipal {
    color: #FF6E55;
}

